#root {
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow: hidden;
}

[data-theme="dark"]{
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;

}








