#root {
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    min-width: 100vw;
}


.artists {
    display: grid;
    transform: scale(.20);
    gap: 10vh;
    grid-template-columns: auto auto auto;
    padding: 20px;
}

.nav {
  position: relative;
  align-items: left;
  display: block;
  left: 11vh;
  gap: 10vh;
}






